
span{
  font-family: Helvetica, Arial, sans-serif !important;
  
}

ion-content{
      background-color:transparent !important;
    }
ion-content div{
  background-color:transparent;
}

h1,h2,h3,h4,h5,p{
  
  font-family: Helvetica, Arial, sans-serif !important;
}
.searchadmin{
  font-size: 2.0em;
    margin-left: -8px;
    position: absolute;
    margin-top: -26px;
    color: rgb(150, 162, 180);
    
}
.searchadminuser{
  font-size: 1.3em;
  color: #00c292!important;
}